#principal-center{
    display: flex;
    column-gap: 20px;
}

aside{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 20%;
}

.tile{
    background: var(--block-background);
}

.tile h2{
    position: relative;
    padding: 20px 10px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: var(--title-background);
}

.tile h2::before{
    position: absolute;
    bottom: 0;
    width: 20%;
    height: 5px;
    background: var(--blue);
}

